ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5182

DB_PROVIDER=sqlserver
DB_HOST=property-mvp-db.cmaeqsfg0eds.us-east-1.rds.amazonaws.com
DB_PORT=1433
DB_NAME=property-mvp-db
DB_USER=admin
DB_PASSWORD=your-database-password
DB_SSL_MODE=disable


AWS_REGION=us-east-1
AWS_S3_BUCKET=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_SESSION_TOKEN=your-aws-session-token


AWS_SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:property-app-status
AWS_SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/property-app-queue